// Use "airbnb/base" for a normal ecmascript-based config and "airbnb" in a React project.
{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb/base",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "prefer-template": 0,
    "import/no-duplicates": 0,
    "no-duplicate-imports": 0,
    "import/no-unresolved": [2, { "ignore": ["^meteor/"] }],
    "meteor/no-session": 0,
  },
  "globals": {
    "_": false
  }
}

