// Use "airbnb/base" for a normal ecmascript-based config and "airbnb" in a React project.
{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb/base",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["^meteor/"] }]
  }
}

